body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profilecard{
    width: 500px;
    max-width: 100px;
    min-width: 100px;
    height: 800px;
    padding: 10%;
    background-color: rgb(20, 36, 107);
    border-radius: 20%;
    box-shadow: -10px 10px 10px;
    margin: 10%;
    transition: 500ms;
}

.profilecard:hover{
    transform: translateY(-50px);
}

.profilecard img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 300ms;
}

.profilecard img:hover{
    transform: scale(1.2);
}

.profilecard h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 10px;
    color: rgb(135, 189, 234);
    text-shadow: 2px 2px 2px rgb(0, 0, 0) ;
}
.profilecard p{
    text-align: center;
    font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  color: azure;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.skills p{
    background-color: rgba(220, 226, 219, 0.273);
    border-radius: 10px;
    padding: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.buttons a{
    background-color: rgba(7, 213, 213, 0.26);
    border-radius: 10px;
    padding: 10px;
    border: solid 1px rgba(0, 166, 255, 0.264);
    box-shadow: -3px 3px 3px black;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none white;
    transition: 300ms;

}

.buttons :hover{
    background-color: rgba(240, 248, 255, 0.517);
    border-radius: 20%;
    transform: scale(1.1);
}
