body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.826);
    background: linear-gradient(to bottom right, rgb(48, 48, 149), black);
    
}

.profilecard{
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 600px;
    border: inset 8px rgba(255, 255, 255, 0.229);
    padding: 10%;
    background-color: rgb(32, 30, 107);
    border-radius: 20%;
    box-shadow: -10px 10px 10px;
    margin: 10%;
    transition: 500ms;
}

.profilecard:hover{
    transform: translateY(-50px);
}

.profilecard img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 300ms;
    
}

.profilecard img:hover{
    transform: scale(1.2);
}

.profilecard h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 10px;
    color: rgb(135, 189, 234);
    text-shadow: 2px 2px 2px rgb(0, 0, 0) ;
}
.profilecard p{
    text-align: center;
    font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  color: azure;
}

.skills section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.skills p{
    background-color: rgba(220, 226, 219, 0.273);
    border-radius: 10px;
    padding: 5px;
}

.skills h2{
    text-align: center;
    color: rgb(136, 149, 197);
    text-shadow: 3px 3px 3px black;
    margin-bottom: 3px;
    margin-top: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.buttons a{
    background-color: rgba(7, 213, 213, 0.26);
    border-radius: 10px;
    padding: 10px;
    box-shadow: -3px 3px 3px black;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none white;
    transition: 300ms;
    background: linear-gradient(to bottom right, rgba(27, 12, 77, 0.103), rgba(255, 255, 255, 0.317));
    

}

.buttons :hover{
    background-color: rgba(240, 248, 255, 0.517);
    border-radius: 20%;
    transform: scale(1.1);
}

.learning section{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.learning p{
    background-color: rgba(240, 248, 255, 0.141);
    padding: 2%;
    border-radius: 10px;
    transition: 400ms;
}

.learning p:hover{
    transform: translateY(-5px);
    cursor: pointer;

}

.learning h2{
    text-align: center;
    color: rgb(136, 149, 197);
    text-shadow: 3px 3px 3px black;
    margin-bottom: 2px;
    margin-top: 150px;
}

.links h2{
    text-align: center;
    color: rgb(136, 149, 197);
    text-shadow: 3px 3px 3px black;
    margin-bottom: 2px;

}


